.logo {
    text-align: center;
}
.left-half {
  position: absolute;


  width: 50%;
}

.right-half {
  position: absolute;
  right: 0px;
  width: 50%;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #f4f4f4;
   color: gray;
   text-align: center;
}

.footer p {
  display: inline;
}
