footer{
   background-color: #424558;
    position: fixed;
    bottom: 0;
    left: 0;
    display:
    right: 0;
    height: 35px;
    text-align: center;
    color: #CCC;
}

footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}
